* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.debug {
    header {
        background-color: rgba(239, 103, 103, 0.642);
    }

    .menu {
        background-color: rgba(112, 112, 228, 0.672);
    }

    .container_link {
        background-color: rgba(14, 173, 14, 0.675);
    }

    .container_jumbo {
        background-color: rgba(230, 230, 69, 0.743);
    }

    .jumbo {
        background-color: rgba(15, 107, 15, 0.486);
    }

    #container_h1 {
        background-color: rgba(222, 65, 65, 0.763);
    }

    #pragrafo_jum {
        background-color: rgba(119, 31, 31, 0.692);
    }

    #jumbo_img_container {
        background-color: rgba(124, 10, 124, 0.573);
    }

    #container_title_selection_pg {
        background-color: rgba(109, 109, 205, 0.595);
    }

    #titolo_paini_pag {
        background-color: rgba(200, 70, 70, 0.815)
    }

    #selezione_fatt {
        background-color: rgba(136, 201, 38, 0.575);
    }

    #container_piani_pagamento_top {
        background-color: #4275c78e;
    }

    #row_p_p_top {
        background-color: rgba(195, 64, 82, 0.52);
    }

    #container_piani_pagamento_middle {
        background-color: rgba(171, 214, 127, 0.581);
    }

    #row_p_p_middle {
        background-color: rgba(233, 114, 63, 0.447);
    }

    .testa_p_p {
        background-color: #da3d3d97;
    }

    .corpo_p_p {
        background-color: rgba(221, 160, 221, 0.481);
    }

    #container_piani_pagamento_buttom {
        background-color: rgba(198, 29, 29, 0.462);
    }

    #enterprise_top {
        background-color: rgba(0, 255, 255, 0.574);
    }

    #enterprise_buttom {
        background-color: rgba(66, 169, 66, 0.589);
    }
}


/*palette colori*/

:root {
    --drop-dark_color: #0000;
    --drop-light_color: #ffff;
    --drop-lighter_color: #B1B2B5;
    --drop-sky_color: #b4d0e6;
    --drop-sea_color: #0061fe;
}


/*menu di navigazione*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 1000;

    .menu {
        display: flex;
        align-items: center;
        height: 80px;

        .container_link {
            display: flex;
            align-items: center;

            .logo {
                display: flex;
                width: 100%;
                padding-right: 10px;
            }

            .link_intera {
                display: flex;
                margin-left: 10px;
                margin-right: 10px;
                padding-top: 30px;
                padding-bottom: 30px;
                margin-bottom: 3px;
                text-decoration: none;
                color: black;
            }

            :hover.link_intera {
                margin-bottom: 3px solid black;
            }

            #button_menu {
                margin-left: 10px;
                margin-right: 10px;
                text-decoration: none;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 10px;
                padding-right: 10px;
                background-color: var(--drop-sea_color);
                color: white;

            }

        }
    }
}


/*jumbo*/

.container_jumbo {
    display: flex;
    justify-content: center;
    background-color: var(--drop-sky_color);

    height: 740px;
    width: 100%;

    .jumbo {
        display: flex;
        min-width: 62%;
        height: 550px;
    }

    #container_h1 {
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 1180px;
        height: 190px;
        font-size: 40px;
    }

    #container_pragrafo_jum {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        font-size: 18px;
        height: 550px;
        width: 400px;
        line-height: 30px;

        #paragrafo_jum_top {
            margin-top: 60px;
        }

        #button_jumbo {
            text-decoration: none;
            margin-bottom: px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 15px;
            padding-right: 15px;
            background-color: var(--drop-sea_color);
            color: white;
        }

        #paragrafo_jum_bottom {
            margin-bottom: 80px;
        }

        .fa-solid,
        .fa-arrow-down {
            color: black;
            font-size: 60px;
        }
    }

    #jumbo_img_container {
        display: flex;

        flex-direction: column;
        margin-top: 55px;
        height: 445px;
        width: 780px;

        #img_jumbo {
            width: 130%;
        }
    }
}

/*titolo e selezione dei piani di pagamento*/

#container_title_pg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 360px;

    #titolo_paini_pag {
        width: 1000px;
        height: 20px;
        margin-bottom: 50px;
        font-size: 45px;
    }



}

#s_container_section_pg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 40px;
    margin-bottom: 50px;

    #selezione_fatt {
        height: 25px;
        width: 200px;
        margin-right: 7px;
    }
}

/*piani di pagamento*/

#container_piani_pagamento_top {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;

    #row_p_p_top {
        display: flex;
        width: 1000px;


        .testa_p_p {
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc(100% / 12 * 4);

            .container_testa {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid var(--drop-lighter_color);
                height: 40px;
                width: 300px;
            }




        }


    }



}

#container_piani_pagamento_middle {
    display: flex;
    justify-content: center;
    height: 915px;
    width: 100%;

    #row_p_p_middle {
        display: flex;
        width: 1000px;
    }

    .corpo_p_p {
        height: 100%;
        display: flex;
        justify-content: center;
        height: 100%;
        width: calc(100% / 12 * 4)
    }

    .container_corpo {
        display: flex;
        flex-direction: column;
        border: 1px solid var(--drop-lighter_color);
        width: 300px;
        padding: 30px;

        .titolo_scheda {
            padding-bottom: 20px;
        }

        .prezzo {
            padding-bottom: 20px;
        }

        .periodo_di_pag {
            color: var(--drop-lighter_color);
            padding-bottom: 50px;
        }

        .vantaggi {
            margin-bottom: 20px;
            font-size: 15px;
        }
    }



}

#container_piani_pagamento_buttom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 305px;
    width: 100%;

    #sub_container {
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 100%;
        width: 1000px;
    }

    #enterprise_top {
        height: 40px;
        width: 100%;
    }

    #enterprise_buttom {
        height: 220px;
        width: 100%;

    }
}