* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug {
    header {
        background-color: rgba(239, 103, 103, 0.642);
    }

    .menu {
        background-color: rgba(112, 112, 228, 0.672);
    }

    .container_link {
        background-color: rgba(14, 173, 14, 0.675);
    }

    .container_jumbo {
        background-color: rgba(230, 230, 69, 0.743);
    }

    .jumbo {
        background-color: rgba(15, 107, 15, 0.486);
    }

    #container_h1 {
        background-color: rgba(222, 65, 65, 0.763);
    }

    #pragrafo_pg {
        background-color: rgba(119, 31, 31, 0.692);
    }

    #jumbo_img_container {
        background-color: rgba(124, 10, 124, 0.573);
    }
}

:root {
    --drop-dark_color: #0000;
    --drop-light_color: #ffff;
    --drop-lighter_color: #B1B2B5;
    --drop-sky_color: #b4d0e6;
    --drop-sea_color: #0061fe;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;

    .menu {
        display: flex;
        align-items: center;
        height: 80px;

        .container_link {
            display: flex;
            align-items: center;

            .logo {
                display: flex;
                width: 100%;
            }

            .link_intera {
                display: flex;
                margin-left: 40px;
                margin-right: 40px;
            }
        }
    }
}


.container_jumbo {
    display: flex;
    justify-content: center;

    height: 740px;
    width: 100%;

    .jumbo {
        display: flex;
        align-items: flex-end;
        min-width: 62%;
        height: 550px;
    }

    #container_h1 {
        width: 1180px;
        height: 190px;
    }

    #pragrafo_pg {
        height: 445px;
        width: 400px;
    }

    #jumbo_img_container {
        height: 445px;
        width: 780px;
    }
}